<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <span>Personnages</span>
    </mat-toolbar>
  </div>
</div>

<div class="container mt-4">
  <mat-card class="mb-4">
    <div>
      <button mat-raised-button color="primary" class="mb-4 mr-1" routerLink="/animateur/personnages/form">Ajouter Personnage (DM)</button>
      <button mat-raised-button color="primary" routerLink="/joueur/personnage/creation">Création de Personnage</button>
    </div>
    <div class="table-responsive">
      <table class="table" matSort (matSortChange)="sortData($event)">
        <thead>
          <tr>
            <th mat-sort-header="nom">Nom</th>
            <!-- <th mat-sort-header="joueur">Joueur</th> -->
            <!-- <th mat-sort-header="race">Race</th> -->
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Filtre" [(ngModel)]="filter.nom">
              </mat-form-field>
            </td>
            <!-- <td>
              <mat-form-field>
                <input matInput placeholder="Filtre" [(ngModel)]="filter.joueur">
              </mat-form-field>
            </td> -->
            <!-- <td>
              <mat-form-field>
                <input matInput placeholder="Filtre" [(ngModel)]="filter.race">
              </mat-form-field>
            </td> -->
          </tr>
          <ng-template ngFor let-personnage [ngForOf]="sortedData">
            <tr *ngIf="filterResult(personnage)">
              <td [innerHtml]="personnage.nom"></td>
              <!-- <td [innerHtml]="personnage?.user?.displayname"></td> -->
              <!-- <td [innerHtml]="personnage?.race?.nom"></td> -->
              <td>
                <div class="button-row">
                  <button mat-icon-button [routerLink]="'/joueur/personnage/' + personnage.id">
                    <mat-icon aria-label="View">remove_red_eye</mat-icon>
                  </button>
                  <button mat-icon-button [routerLink]="'/joueur/personnage/progression/' + personnage.id">
                    <mat-icon aria-label="trending_up">trending_up</mat-icon>
                  </button>
                  <button mat-icon-button [routerLink]="'/animateur/personnages/form/' + personnage.id">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="confirmDelete(personnage)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="setPageEvent($event)"></mat-paginator>
    </div>
  </mat-card>
</div>