<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <span>Dons</span>
    </mat-toolbar>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-10 order-2 order-md-1">
      <mat-card *ngFor="let don of dons" [id]="don.nom" class="mb-4">
        <mat-card-title [innerHtml]="don.nom"></mat-card-title>
        <mat-card-content>
          <p><i [innerHtml]="don.description"></i></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-2 order-1 order-md-2 mb-4">
      <nav>
        <div class="mb-2">
          <strong>Dons</strong>
        </div>
        <a *ngFor="let don of dons" [href]="'jeu/dons#' + don.nom" [innerHtml]="don.nom"></a>
      </nav>
    </div>
  </div>
</div>