<div class="details-modal">
  <h2 mat-dialog-title class="text-center">
    <span *ngIf="sort" [innerHtml]="sort?.nom + ' (' + sort?.ecole?.nom + ')'"></span>
  </h2>
  <mat-dialog-content>
    <div class="row">
      <div *ngIf="!sort" class="col-12">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="sort" class="col-12">

        <strong>Niveau: </strong>
        <span [innerHtml]="sort?.niveau"></span>
        <br />

        <strong>Portée: </strong>
        <span [innerHtml]="sort?.porte?.nom"></span>
        <br />

        <strong>Durée: </strong>
        <span [innerHtml]="sort?.duree?.nom"></span>
        <br />

        <strong>Zone d’effet: </strong>
        <span [innerHtml]="sort?.zone?.nom"></span>
        <br />

        <strong>Incantation: </strong>
        <span [innerHtml]="sort?.incantation"></span>
        <br />

        <strong>Sommaire: </strong>
        <span [innerHtml]="sort?.sommaire"></span>
        <br />

        <strong>Description: </strong>
        <span [innerHtml]="sort?.description"></span>
        <br />
        <br />

      </div>
    </div>
  </mat-dialog-content>
</div>