<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary">
            <span>Zones d'effets</span>
        </mat-toolbar>
    </div>
</div>

<div class="container mt-4">
    <mat-card>
        <mat-card-title>Formulaire de Zone d'effet</mat-card-title>
        <form #form="ngForm">
            <div class="form-container">

                <div class="row mb-1">
                    <div class="col">
                        <mat-form-field>
                            <input matInput name="zone.nom" [(ngModel)]="zone.nom" placeholder="Nom" required>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="submit()">Envoyer</button>
        </form>
    </mat-card>
</div>