<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <span>Zones d'effets</span>
    </mat-toolbar>
  </div>
</div>

<div class="container mt-4">
  <mat-card class="mb-4">
    <div>
      <button mat-raised-button color="primary" class="mb-4" routerLink="/organisateur/zones/form">Ajouter Zone
        d'effet</button>
      <button mat-raised-button color="default" class="mb-4" routerLink="/organisateur/sorts/list">Liste des
        Sorts</button>
      <button mat-raised-button color="default" class="mb-4" routerLink="/organisateur/durees/list">Liste des
        Durées</button>
      <button mat-raised-button color="default" class="mb-4" routerLink="/organisateur/portes/list">Liste des
        Portés</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let zone of zones | async">
            <td [innerHtml]="zone.nom"></td>
            <td>
              <div class="button-row">
                <button mat-icon-button [routerLink]="'/jeu/zones'" disabled>
                  <mat-icon aria-label="View">remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button [routerLink]="'/organisateur/zones/form/' + zone.id">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="confirmDelete(zone)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>